@import './globalStyles.scss';

@mixin questionAndAnswer{
    width: 80%;
    resize: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    &:focus{
        &::placeholder{
            opacity: 0;
        }
    }
}

.cardsContainer, .mainContainer{
    width: $generalWidth;
    margin: 2.5rem auto;
}

.mainContainer{
    @include lightBorders(25px);
    position: relative;
    text-align: center;

    .buttonsContainer{
        width: 80%;
    }
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    width: $generalWidth;
    margin: 1rem auto;
    justify-content: space-between;
}

.saveButton{
    @include lightBorders($bigFontSize);
    width: $bigFontSize + 1rem;
    height: $bigFontSize + 1rem;
    position: relative;
    display:block;
}

.divisionLine {
    width: 50%;
    height: 1px;
    background-color: $lightColor;
    position: relative;
    margin: auto;
}

.question{
    @include boldText;
    @include questionAndAnswer;
    margin: 2rem 0;
}

.answer{
    font-size: $smallFont;
    @include questionAndAnswer;
    margin: 2rem 0 0;
}

.cardPreview{
    font-size: $smallFont;
    font-weight: bold;
    @include lightBorders(15px);
    padding: 1rem;
    margin: 0.5rem auto;
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        display: inline-block;
        margin: 0;
        max-width: 85%;
        overflow: hidden;
    }

    button{
        height: 100%;

    }
}