@import './globalStyles.scss';

.cardsContainer{
    width: $generalWidth;
    margin: 2.5rem auto;
}

.buttonsContainer{
    display: flex;
    flex-direction: row;
    width: $generalWidth;
    margin: 1rem auto;
    justify-content: space-between;
}

.saveButton{
    @include lightBorders($bigFontSize);
    width: $bigFontSize + 1rem;
    height: $bigFontSize + 1rem;
    position: relative;
    display:block;
}



.cardPreview{
    font-size: $smallFont;
    font-weight: bold;
    @include lightBorders(15px);
    padding: 1rem;
    margin: 0.5rem auto;
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        display: inline-block;
        margin: 0;
        max-width: 85%;
        overflow: hidden;
    }

    button{
        height: 100%;

    }
}