$bigFontSize: 2.25rem;
$smallFont: 1.125rem;
$lightColor: #0000001a;
$textColor: #404040;
$generalWidth: 70%;

$background: #DAF4FF;
$gradientPink: #F3C8FF;
$gradientBlue: #9EE8FF;

$green: #68AA8F;
$red: #EB806C;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body{
    background-color: $background;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: $bigFontSize;
    color: $textColor;
}

p{
    font-size: $smallFont;
    color: $textColor;
}

@mixin lightBorders($bRadius) {
    border: 1px solid $lightColor;
    border-radius: $bRadius;
}

@mixin boldText {
    font-size: $bigFontSize;
    font-weight: bold;
}

@mixin generalContainer{
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@mixin insideLine{
    position: absolute;
    width: 97%;
    height: 93%;
    border: 1px solid #00000026;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    pointer-events: none;
}