@import './globalStyles.scss';

.deckContainer{

    width: 14rem;
    height: 20rem;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 2rem;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
    &:hover{
        cursor: pointer;
    }

    .insideDecoration{
        position: relative;
        width: 90%;
        height: 93%;
        border: 1px solid #00000026;
        border-radius: 0.5rem;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        padding: 2rem;

        .clickArea{
            position: absolute;
            height: 75%;
            width: 100%;
            top: 0;
            left: 0;
        }

        .buttons{
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 2rem;
            
        }
    
        .edit{
            border: none;
            margin: 0 1rem;
            font-size: $smallFont;
            border-radius: 10px;
            padding: 12px;
            background-color: white;
            box-shadow: 0 4px 10px rgba(0,0,0,0.15);

            a{
                text-decoration: none;
                color: $green;
            }
        }

        .delete{
            border: none;
            font-size: $smallFont;
            border-radius: 10px;
            padding: 12px;
            background-color: white;
            box-shadow: 0 4px 10px rgba(0,0,0,0.15);
            cursor: pointer;
            color: $red;
        }
    }
    
}

.numberOfCards{
    color: #00000040;
    font-style: italic;
}