

@mixin cardStyle{
    background-color: white;
    box-shadow: 0 4px 10px #00000021;
    border-radius: 15px;
    position: relative;
}

@mixin buttonStyle {
    padding: 0.75rem;
    border: none;
    box-shadow: 0 4px 7px #00000021;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 1.25rem;
    cursor: pointer;

    &:hover{
        box-shadow: 0 4px 10px #DAF4FF;
    }
}

.parentContainer{
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.deckDisplay{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .newDeck{
        img{
            height: 50px;
            width: 50px;
        }

        .newDeckContents{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }
}

.deckContainer{
    width: 300px;
    min-width: 300px;
    height: 450px;
    margin: 2rem;

    width: 300px;
    min-width: 300px;
    height: 450px;
    margin: 2rem;
    background-color: white;
    padding: 0.75rem;
    @include cardStyle();
    
    &:hover{
        box-shadow: 0 4px 10px #DAF4FF;
    }
}

.insideDecoration{
    position: relative;
    width: 275px;
    height: 425px;
    border: 1px solid #00000021;
    border-radius: 15px;
    padding: 3.5rem 2rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    p{
        margin: 1rem 0;
        color: black;
    }

    .numberOfCards{
        color: #00000021;
        font-style: italic;
    }

    .clickArea{
        width: 100%;
        height: 80%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .buttons{
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 3.5rem 2rem;

        button{
            @include buttonStyle();
        }

        .edit{
            margin: 0 15px;
            a{color: #68AA8F;}
        }

        .delete{
            color: #EB806C;
            cursor: pointer;
        }
    }
}

.divisionLine{
    width: 5rem;
    height: 1px;
    background-color: #0000001a;
    margin: 1rem auto;
}

.cardContainer{
    width: 70vw;
    margin: 3rem auto;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    @include cardStyle();

    .decoration{
        border: 1px solid #0000001a;
        border-radius: 15px;
        padding: 2rem;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .endingCard{
        border: 1px solid #0000001a;
        border-radius: 15px;
        padding: 5rem;
        text-align: left;

        .p{
            margin: 1rem 0 ;
        }

        .leftButton{
            margin: 1rem; 
            margin-left: 0;
            color: #68AA8F;
        }

        .rightButton{
            color: #EB806C;
        }

        button{
            @include buttonStyle();
        }
    }
}

.buttonContainer{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    button{
        @include buttonStyle();
        width: 12rem;
    }

    .wrong{
        color: #EB806C;
    }

    .correct{
        color: #68AA8F;
    }
}

.form{
    @include cardStyle();
    margin: 3rem 0;
    padding: 0.5rem;

    textarea{
        resize: none;
        width: 100%;
        outline: none;
        text-align: center;
        margin: 0 auto;
        border: none;
    }

    .decoration{
        border: 1px solid #0000001a;
        border-radius: 15px;
        padding: 3rem;
        overflow: auto;

        .question{
            font-size: 2.25rem;
            font-weight: bold;
        }

        .answer{
            font-size: 1.25rem;
        }
    }

    button{
        position: relative;
        float: right;
        margin: 0 0.5rem;
        @include buttonStyle();
    }
}

.cardPreview{
    display: flex;
    width: 100%;
    margin: 1rem 0;
    padding: 1.25rem;
    justify-content: space-between;
    align-items: center;
    @include cardStyle();

    button{
        @include buttonStyle();
        margin: 0.25rem;
    }
}

.bContainer{
    display: flex;
    justify-content: flex-end;
}

.redB{
    color: #EB806C;
    @include buttonStyle();
    margin: 0.25rem;
}

.greenB{
    color: #68AA8F;
    @include buttonStyle();
    margin: 0.25rem;
}

.greenColor{
    color: #68AA8F;
}

@import './responsiveQueries.scss';