.parentContainer {
  width: 70%;
  margin: 0 auto;
}

.deckDisplay {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.deckDisplay .newDeck img {
  height: 50px;
  width: 50px;
}

.deckDisplay .newDeck .newDeckContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.deckContainer {
  width: 300px;
  min-width: 300px;
  height: 450px;
  margin: 2rem;
  width: 300px;
  min-width: 300px;
  height: 450px;
  margin: 2rem;
  background-color: white;
  padding: 0.75rem;
  background-color: white;
  -webkit-box-shadow: 0 4px 10px #00000021;
          box-shadow: 0 4px 10px #00000021;
  border-radius: 15px;
  position: relative;
}

.deckContainer:hover {
  -webkit-box-shadow: 0 4px 10px #F3C8FF;
          box-shadow: 0 4px 10px #F3C8FF;
}

.insideDecoration {
  position: relative;
  width: 275px;
  height: 425px;
  border: 1px solid #00000021;
  border-radius: 15px;
  padding: 3.5rem 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.insideDecoration p {
  margin: 1rem 0;
  color: black;
}

.insideDecoration .numberOfCards {
  color: #00000021;
  font-style: italic;
}

.insideDecoration .clickArea {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
}

.insideDecoration .buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 3.5rem 2rem;
}

.insideDecoration .buttons button {
  padding: 0.75rem;
  border: none;
  -webkit-box-shadow: 0 4px 7px #00000021;
          box-shadow: 0 4px 7px #00000021;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

.insideDecoration .buttons button:hover {
  -webkit-box-shadow: 0 4px 10px #F3C8FF;
          box-shadow: 0 4px 10px #F3C8FF;
}

.insideDecoration .buttons .edit {
  margin: 0 15px;
}

.insideDecoration .buttons .edit a {
  color: #68AA8F;
}

.insideDecoration .buttons .delete {
  color: #EB806C;
  cursor: pointer;
}

.divisionLine {
  width: 5rem;
  height: 1px;
  background-color: #0000001a;
  margin: 1rem auto;
}

.cardContainer {
  width: 70vw;
  margin: 3rem auto;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: 0 4px 10px #00000021;
          box-shadow: 0 4px 10px #00000021;
  border-radius: 15px;
  position: relative;
}

.cardContainer .decoration {
  border: 1px solid #0000001a;
  border-radius: 15px;
  padding: 2rem;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardContainer .endingCard {
  border: 1px solid #0000001a;
  border-radius: 15px;
  padding: 5rem;
  text-align: left;
}

.cardContainer .endingCard .p {
  margin: 1rem 0;
}

.cardContainer .endingCard .leftButton {
  margin-right: 1rem;
  color: #68AA8F;
}

.cardContainer .endingCard .rightButton {
  color: #EB806C;
}

.cardContainer .endingCard button {
  padding: 0.75rem;
  border: none;
  -webkit-box-shadow: 0 4px 7px #00000021;
          box-shadow: 0 4px 7px #00000021;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

.cardContainer .endingCard button:hover {
  -webkit-box-shadow: 0 4px 10px #F3C8FF;
          box-shadow: 0 4px 10px #F3C8FF;
}

.buttonContainer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.buttonContainer button {
  padding: 0.75rem;
  border: none;
  -webkit-box-shadow: 0 4px 7px #00000021;
          box-shadow: 0 4px 7px #00000021;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  width: 12rem;
}

.buttonContainer button:hover {
  -webkit-box-shadow: 0 4px 10px #F3C8FF;
          box-shadow: 0 4px 10px #F3C8FF;
}

.buttonContainer .wrong {
  color: #EB806C;
}

.buttonContainer .correct {
  color: #68AA8F;
}

.form {
  background-color: white;
  -webkit-box-shadow: 0 4px 10px #00000021;
          box-shadow: 0 4px 10px #00000021;
  border-radius: 15px;
  position: relative;
  margin: 3rem 0;
  padding: 0.5rem;
}

.form textarea {
  resize: none;
  width: 100%;
  outline: none;
  text-align: center;
  margin: 0 auto;
  border: none;
}

.form .decoration {
  border: 1px solid #0000001a;
  border-radius: 15px;
  padding: 3rem;
  overflow: auto;
}

.form .decoration .question {
  font-size: 2.25rem;
  font-weight: bold;
}

.form .decoration .answer {
  font-size: 1.25rem;
}

.form button {
  position: relative;
  float: right;
  margin: 0 0.5rem;
  padding: 0.75rem;
  border: none;
  -webkit-box-shadow: 0 4px 7px #00000021;
          box-shadow: 0 4px 7px #00000021;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

.form button:hover {
  -webkit-box-shadow: 0 4px 10px #F3C8FF;
          box-shadow: 0 4px 10px #F3C8FF;
}

.cardPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 1rem 0;
  padding: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-shadow: 0 4px 10px #00000021;
          box-shadow: 0 4px 10px #00000021;
  border-radius: 15px;
  position: relative;
}

.cardPreview button {
  padding: 0.75rem;
  border: none;
  -webkit-box-shadow: 0 4px 7px #00000021;
          box-shadow: 0 4px 7px #00000021;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 0.25rem;
}

.cardPreview button:hover {
  -webkit-box-shadow: 0 4px 10px #F3C8FF;
          box-shadow: 0 4px 10px #F3C8FF;
}

.bContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.redB {
  color: #EB806C;
  padding: 0.75rem;
  border: none;
  -webkit-box-shadow: 0 4px 7px #00000021;
          box-shadow: 0 4px 7px #00000021;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 0.25rem;
}

.redB:hover {
  -webkit-box-shadow: 0 4px 10px #F3C8FF;
          box-shadow: 0 4px 10px #F3C8FF;
}

.greenB {
  color: #68AA8F;
  padding: 0.75rem;
  border: none;
  -webkit-box-shadow: 0 4px 7px #00000021;
          box-shadow: 0 4px 7px #00000021;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 0.25rem;
}

.greenB:hover {
  -webkit-box-shadow: 0 4px 10px #F3C8FF;
          box-shadow: 0 4px 10px #F3C8FF;
}

.greenColor {
  color: #68AA8F;
}
/*# sourceMappingURL=mainStyle.css.map */